<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Restaurant Login | Preplate</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>

<div class="container">
    <div class="card">
        <h2>Restaurant Owner Login</h2>

        <form th:action="@{/restaurant/login}" method="post">

            <label>Email</label>
            <input type="text" name="username" placeholder="Email" required>

            <label>Password</label>
            <input type="password" name="password" placeholder="Password" required>

            <button type="submit">Login</button>
        </form>

        <p>New Restaurant? <a th:href="@{/restaurant/register}">Register Here</a></p>
    </div>
</div>

</body>
</html>
