
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/register.css}" />
    <script defer th:src="@{/js/script.js}"></script>
</head>
<body>
<div class="register-container">
    <div class="register-card">
        <h1 class="title">Log in to your account</h1>
        <form th:action="@{/user/login}" method="post" class="register-form">
            <label>
                <span>Email</span><input type="text" name="username" required/></label>
            <label>
                <span>Password</span><input type="password" name="password" required/></label>
            <button type="submit" class="btn-register">Login</button>
        </form>
        <p><a th:href="@{/user/register}">Register</a></p>
    </div>
</div>

</body>
</html>