<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrePlate | Home</title>
    <link rel="stylesheet" th:href="@{/css/user/user_dashboard_style.css}" />
    <script defer th:src="@{/js/script.js}"></script>
</head>
<body>
<header>
    <nav class="navbar">
        <div class="nav-left">
            <a href="/" class="logo">PrePlate</a>
        </div>

        <div class="nav-center">
            <form th:action="@{/search}" method="get" class="search-form">
                <input type="text" name="query" placeholder="Search cuisine..." required />
                <button type="submit">🔍</button>
            </form>
        </div>

        <div class="nav-right">
            <a th:href="@{/user/user_profile}" class="btn-login">profile</a>
        </div>
    </nav>
</header>

<section th:if="${menu_list != null and !#lists.isEmpty(menu_list)}" class="food-gallery">
    <h2>Search Results....</h2>
    <div class="gallery-container">
        <div th:each="item : ${menu_list}" class="gallery-item">
            <img th:src="@{${item.image}}"
                 th:alt="${item.name}"
                 onerror="this.src='/images/placeholder.jpg';">
            <div class="item-details">
                <h3 class="item-name" th:text="${item.name}">Item Name</h3>
                <p class="item-restaurant" th:text="${item.restaurant.name}">Restaurant</p>
                <div class="item-footer">
                    <p class="item-price" th:text="'Rs. ' + ${item.price}">Rs. 100</p>
                    <button class="order-btn" th:onclick="'orderItem(' + ${item.id} + ')'">
                        Order Now
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="food-gallery">
    <h2>Popular Dishes</h2>
    <div class="gallery-container">
        <div class="gallery-item">
            <img src="/images/foods/pizza.jpg" alt="Pizza">
            <div class="item-details">
                <h3 class="item-name" >Pizza</h3>
                <p class="item-restaurant" >Domino</p>
                <div class="item-footer">
                    <p class="item-price" >Rs. 200</p>
                    <button class="order-btn" >
                        Order Now
                    </button>
                </div>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/images/foods/burger.jpg" alt="Burger">
            <div class="item-details">
                <h3 class="item-name" >Burger</h3>
                <p class="item-restaurant" >Fast Food Service</p>
                <div class="item-footer">
                    <p class="item-price" >Rs. 250</p>
                    <button class="order-btn" >
                        Order Now
                    </button>
                </div>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/images/foods/sushi.jpg" alt="Sushi">
            <div class="item-details">
                <h3 class="item-name" >Sushi</h3>
                <p class="item-restaurant" >Japanese Restaurant</p>
                <div class="item-footer">
                    <p class="item-price" >Rs. 300</p>
                    <button class="order-btn" >
                        Order Now
                    </button>
                </div>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/images/foods/pasta.jpg" alt="Pasta">
            <div class="item-details">
                <h3 class="item-name" >Pasta</h3>
                <p class="item-restaurant" >Uncle Restaurant</p>
                <div class="item-footer">
                    <p class="item-price" >Rs. 150</p>
                    <button class="order-btn" >
                        Order Now
                    </button>
                </div>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/images/foods/salad.jpg" alt="Salad">
            <div class="item-details">
                <h3 class="item-name" >Salad</h3>
                <p class="item-restaurant" >Nepali Restaurant</p>
                <div class="item-footer">
                    <p class="item-price" >Rs. 1000</p>
                    <button class="order-btn" >
                        Order Now
                    </button>
                </div>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/images/foods/potato-chips.jpg" alt="Potato Chips">
            <div class="item-details">
                <h3 class="item-name" >Potato Chips</h3>
                <p class="item-restaurant" >Potato Chips</p>
                <div class="item-footer">
                    <p class="item-price" >Rs. 50</p>
                    <button class="order-btn" >
                        Order Now
                    </button>
                </div>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/images/foods/fried-rice.jpg" alt="Fried Rice">
            <div class="item-details">
                <h3 class="item-name" >Fried Rice</h3>
                <p class="item-restaurant" >Do Do Restaurant</p>
                <div class="item-footer">
                    <p class="item-price" >Rs. 200</p>
                    <button class="order-btn" >
                        Order Now
                    </button>
                </div>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/images/foods/fried-noodles.jpg" alt="Fried Noodles">
            <div class="item-details">
                <h3 class="item-name" >Fried Noodles</h3>
                <p class="item-restaurant" >Do Do Restaurant</p>
                <div class="item-footer">
                    <p class="item-price" >Rs. 200</p>
                    <button class="order-btn" >
                        Order Now
                    </button>
                </div>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/images/foods/momos.jpg" alt="Momos">
            <div class="item-details">
                <h3 class="item-name" >Momos</h3>
                <p class="item-restaurant" >Mo Mo King</p>
                <div class="item-footer">
                    <p class="item-price" >Rs. 70</p>
                    <button class="order-btn" >
                        Order Now
                    </button>
                </div>
            </div>
        </div>
        <div class="gallery-item">
            <img src="/images/foods/honey-chili-potato.jpg" alt="Honey Chili Potato">
            <div class="item-details">
                <h3 class="item-name" >Honey Chili Potato</h3>
                <p class="item-restaurant" >Nepali Restaurant</p>
                <div class="item-footer">
                    <p class="item-price" >Rs. 130</p>
                    <button class="order-btn" >
                        Order Now
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
